In [1]:
import numpy as np
import pandas as pd

In [3]:
station = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/역이용.csv', thousands=',')
station

,호선명,역명,행정구역,월,승하차,월요일,화요일,수요일,목요일,금요일,토요일,일요일,모든요일
0,1호선,서울,___회현동(서울중구),연간합계,총승하차,"114,437","114,561","117,534","132,684","108,452","79,521","115,036",111754
1,1호선,시청,___명동(서울중구),연간합계,총승하차,"59,927","60,286","60,967","61,524","44,722","25,111","55,543",52603
2,1호선,종각,___종로1·2·3·4가동(서울종로),연간합계,총승하차,"97,593","98,370","98,910","103,611","69,270","40,660","94,543",86168
3,1호선,종로3가,___종로1·2·3·4가동(서울종로),연간합계,총승하차,"69,314","70,480","71,685","74,944","71,154","42,309","68,709",66949
4,1호선,종로5가,___종로5·6가동(서울종로),연간합계,총승하차,"58,776","58,538","59,328","61,433","56,029","27,266","57,889",54193
...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,인천2호선,모래내시장,___구월1동(인천남동),연간합계,총승하차,-,-,-,-,-,-,-,0
580,인천2호선,만수,___만수1동(인천남동),연간합계,총승하차,-,-,-,-,-,-,-,0
581,인천2호선,남동구청,___만수1동(인천남동),연간합계,총승하차,-,-,-,-,-,-,-,0
582,인천2호선,인천대공원,___장수서창동(인천남동),연간합계,총승하차,-,-,-,-,-,-,-,0
583,인천2호선,운연,___장수서창동(인천남동),연간합계,총승하차,-,-,-,-,-,-,-,0

In [9]:
station[station['행정구역'].str.contains('노원')]

,호선명,역명,행정구역,월,승하차,월요일,화요일,수요일,목요일,금요일,토요일,일요일,모든요일
94,4호선,당고개,___상계3·4동(서울노원),연간합계,총승하차,"28,527","28,161","28,189","28,960","23,522","18,774","27,974",26307
95,4호선,상계,___상계5동(서울노원),연간합계,총승하차,"44,805","44,485","44,190","45,465","33,608","24,894","44,120",40236
96,4호선,노원,___상계2동(서울노원),연간합계,총승하차,"50,288","51,054","50,347","54,126","44,602","33,646","49,294",47630
137,경원선,석계,___월계1동(서울노원),연간합계,총승하차,-,-,-,-,-,-,-,0
138,경원선,광운대,___월계1동(서울노원),연간합계,총승하차,-,-,-,-,-,-,-,0
139,경원선,월계,___월계2동(서울노원),연간합계,총승하차,-,-,-,-,-,-,-,0
456,6호선,석계,___월계1동(서울노원),연간합계,총승하차,"30,529","30,274","29,995","30,685","22,115","16,265","30,046",27139
457,6호선,태릉입구,___공릉1동(서울노원),연간합계,총승하차,"13,964","13,982","13,901","14,194","10,897","8,081","13,682",12675
458,6호선,화랑대,___공릉2동(서울노원),연간합계,총승하차,"26,729","26,492","26,252","26,379","17,704","12,653","26,327",23229
462,7호선,수락산,___상계1동(서울노원),연간합계,총승하차,"29,651","29,488","29,309","30,019","24,701","19,875","29,290",27482
463,7호선,마들,___상계1동(서울노원),연간합계,총승하차,"26,874","26,646","26,709","27,399","19,832","13,199","26,435",23879
464,7호선,노원,___상계2동(서울노원),연간합계,총승하차,"47,897","47,606","47,336","51,031","40,271","28,534","47,291",44291
465,7호선,중계,___중계2·3동(서울노원),연간합계,총승하차,"34,784","35,929","34,183","34,784","23,370","18,962","34,911",30999
466,7호선,하계,___하계1동(서울노원),연간합계,총승하차,"43,776","42,876","42,158","43,053","32,200","24,178","41,957",38614
467,7호선,공릉,___공릉1동(서울노원),연간합계,총승하차,"28,986","29,023","28,686","29,906","21,624","16,539","29,002",26260
468,7호선,태릉입구,___공릉1동(서울노원),연간합계,총승하차,"20,180","20,115","20,138","20,155","15,443","11,783","19,778",18233